[Desktop Entry]
Name=Amnesic Firefox
Name[tr]=Amnesic Firefox
Name[bg]=Amnesic Firefox
Name[ca]=Amnesic Firefox
Name[cs]=Amnesic Firefox
Name[el]=Amnesic Firefox
Name[es]=Amnesic Firefox
Name[fa]=Amnesic Firefox
Name[fi]=Amnesic Firefox
Name[fr]=Amnesic Firefox
Name[hu]=Amnesic Firefox
Name[it]=Amnesic Firefox
Name[ja]=Amnesic Firefox
Name[ko]=Amnesic Firefox
Name[nb]=Amnesic Firefox
Name[nl]=Amnesic Firefox
Name[nn]=Amnesic Firefox
Name[no]=Amnesic Firefox
Name[pl]=Amnesic Firefox
Name[pt]=Amnesic Firefox
Name[pt_BR]=Amnesic Firefox
Name[ru]=Amnesic Firefox
Name[sk]=Amnesic Firefox
Name[sv]=Amnesic Firefox

Comment=Amnesic Firefox is a security-focused Firefox customization that deletes all traces when closed
Comment[tr]=Amnesic Firefox,kapandığında tüm izleri silen gizlilik ve güvenlik önlemlerine sahip bir firefox özelleştirmesidir
Comment[bg]=Amnesic Firefox е модификация на Firefox, която изтрива всички следи при затваряне за поверителност и защита
Comment[ca]=Amnesic Firefox és una personalització de Firefox que esborra totes les traces en tancar per a la privadesa i protecció
Comment[cs]=Amnesic Firefox je úprava Firefoxu, která při zavření smaže všechny stopy pro soukromí a ochranu
Comment[de]=Amnesic Firefox ist eine Firefox-Anpassung, die beim Schließen alle Spuren für Datenschutz und Sicherheit löscht
Comment[el]=Amnesic Firefox είναι μια προσαρμογή Firefox που διαγράφει όλα τα ίχνη κατά το κλείσιμο για απόρρητο και προστασία
Comment[es]=Amnesic Firefox es una personalización de Firefox que borra todas las huellas al cerrar para privacidad y protección
Comment[fa]=Amnesic Firefox یک سفارشی‌سازی فایرفاکس است که هنگام بسته شدن تمام ردپاها را برای حریم خصوصی و امنیت پاک می‌کند
Comment[fi]=Amnesic Firefox on Firefox-muunnelma, joka poistaa kaikki jäljet sulkeutuessa yksityisyyden ja turvallisuuden vuoksi
Comment[fr]=Amnesic Firefox est une personnalisation de Firefox qui efface toutes les traces à la fermeture pour la confidentialité et la sécurité
Comment[hu]=Amnesic Firefox egy Firefox testreszabás, amely bezáráskor minden nyomot töröl a magánélet és biztonság érdekében
Comment[it]=Amnesic Firefox è una personalizzazione di Firefox che cancella tutte le tracce alla chiusura per privacy e protezione
Comment[ja]=Amnesic Firefoxは、終了時にすべての痕跡を削除してプライバシーとセキュリティを保護するFirefoxカスタマイズです
Comment[ko]=Amnesic Firefox는 종료 시 모든 흔적을 삭제하여 개인정보 보호와 보안을 제공하는 Firefox 커스터마이징입니다
Comment[nb]=Amnesic Firefox er en Firefox-tilpasning som sletter alle spor ved lukking for personvern og sikkerhet
Comment[nl]=Amnesic Firefox is een Firefox-aanpassing die alle sporen wist bij afsluiten voor privacy en beveiliging
Comment[nn]=Amnesic Firefox er ein Firefox-versjon som slettar alle spor ved lukking for personvern og tryggheit
Comment[no]=Amnesic Firefox er en Firefox-variant som sletter alle spor ved lukking for personvern og sikkerhet
Comment[pl]=Amnesic Firefox to dostosowanie Firefoksa, które usuwa wszystkie ślady przy zamknięciu dla prywatności i bezpieczeństwa
Comment[pt]=Amnesic Firefox é uma personalização do Firefox que apaga todos os vestígios ao fechar para privacidade e proteção
Comment[pt_BR]=Amnesic Firefox é uma personalização do Firefox que apaga todos os vestígios ao fechar para privacidade e proteção
Comment[ru]=Amnesic Firefox — это модификация Firefox, которая удаляет все следы при закрытии для конфиденциальности и безопасности
Comment[sk]=Amnesic Firefox je úprava Firefoxu, ktorá pri zatvorení zmaže všetky stopy pre ochranu súkromia a bezpečnosť
Comment[sv]=Amnesic Firefox är en Firefox-anpassning som raderar alla spår vid stängning för integritet och säkerhet

GenericName=Web Browser
GenericName[tr]=Web Tarayıcı
GenericName[bg]=Интернет браузър
GenericName[ca]=Navegador web
GenericName[cs]=Webový prohlížeč
GenericName[de]=Webbrowser
GenericName[el]=Περιηγητής ιστού
GenericName[es]=Navegador web
GenericName[fa]=مرورگر اینترنتی
GenericName[fi]=WWW-selain
GenericName[fr]=Navigateur Web
GenericName[hu]=Webböngésző
GenericName[it]=Browser Web
GenericName[ja]=ウェブ・ブラウザ
GenericName[ko]=웹 브라우저
GenericName[nb]=Nettleser
GenericName[nl]=Webbrowser
GenericName[nn]=Nettlesar
GenericName[no]=Nettleser
GenericName[pl]=Przeglądarka WWW
GenericName[pt]=Navegador Web
GenericName[pt_BR]=Navegador Web
GenericName[ru]=Интернет-браузер
GenericName[sk]=Internetový prehliadač
GenericName[sv]=Webbläsare

X-GNOME-FullName=Amnesic Firefox Web Browser
X-GNOME-FullName[tr]=Amnesic Firefox Web Tarayıcısı
X-GNOME-FullName[bg]=Amnesic Firefox Web Browser
X-GNOME-FullName[ca]=Amnesic Firefox Web Browser
X-GNOME-FullName[cs]=Amnesic Firefox Web Browser
X-GNOME-FullName[el]=Amnesic Firefox Web Browser
X-GNOME-FullName[es]=Amnesic Firefox Web Browser
X-GNOME-FullName[fa]=Amnesic Firefox Web Browser
X-GNOME-FullName[fi]=Amnesic Firefox Web Browser
X-GNOME-FullName[fr]=Amnesic Firefox Web Browser
X-GNOME-FullName[hu]=Amnesic Firefox Web Browser
X-GNOME-FullName[it]=Amnesic Firefox Web Browser
X-GNOME-FullName[ja]=Amnesic Firefox Web Browser
X-GNOME-FullName[ko]=Amnesic Firefox Web Browser
X-GNOME-FullName[nb]=Amnesic Firefox Nettleser
X-GNOME-FullName[nl]=Amnesic Firefox webbrowser
X-GNOME-FullName[nn]=Amnesic Firefox Nettlesar
X-GNOME-FullName[no]=Amnesic Firefox Nettleser
X-GNOME-FullName[pl]=Amnesic Firefox Web Browser
X-GNOME-FullName[pt]=Amnesic Firefox Web Browser
X-GNOME-FullName[pt_BR]=Amnesic Firefox Web Browser
X-GNOME-FullName[ru]=Amnesic Firefox Web Browser
X-GNOME-FullName[sk]=Amnesic Firefox Web Browser
X-GNOME-FullName[sv]=Amnesic Firefox Web Browser

Exec=firefox -P Amnesic -no-remote
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/usr/share/icons/cyrethium/amnesic.png
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/vnd.mozilla.xul+xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png;x-scheme-handler/http;x-scheme-handler/https;
StartupWMClass=firefox-esr
StartupNotify=true
